@page "/counter"

@* stateful from backend *@
@inject CounterService _counterService;

<h1><span class="text-warning">Stateless</span> Component Counter</h1>

<p>Current count: @currentCount</p>

<button class="primarybutton" @onclick="IncrementCount">Click me</button>


<h1 class="margin-top-medium"><span class="text-success">Stateful</span> Component Counter</h1>
<p>Current count: @_counterService.Counter</p>
<button class="primarybutton-outline" @onclick="_counterService.Increment">Click me</button>

@code {
    // stateless
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
