@import "bootstrap-4.4.1/scss/bootstrap.scss";
@import "Navigation";
@import "Form";
@import "Spinkit";
@import "Animations";
@import "Tables";

main > div {
    padding: 3rem;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

htlm {
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

.margin-bottom-tiny {
    margin-bottom: 1rem;
}

button.primarybutton {
    @extend .btn;
    @extend .btn-primary;
}

button.primarybutton-outline {
    @extend .btn;
    @extend .btn-outline-primary;
}
